email-validator>=2.1.0.post1
Flask>=3.0.2
Flask-Bcrypt>=1.0.1
Flask-Login>=0.6.3
Flask-Mail>=0.9.1
Flask-Migrate>=4.0.5
Flask-SQLAlchemy>=3.1.1
Flask-Testing>=0.8.1
Flask-WTF>=1.2.1
greenlet>=3.0.3
httplib2>=0.20.2
hyperlink>=21.0.0
SQLAlchemy>=2.0.27
WTForms>=3.1.2
python-dotenv>=1.0.1
PyJWT>=2.8.0
Flask-Consent>=0.0.3 
