.content-section {
        width: 70%; /* This will make the element take up the full width of its container */
    }
    
    /* This will apply when the screen width is 768px or more */
    @media screen and (min-width: 768px) {
        .content-section {
            max-width: 700px; /* Adjust this value to your preference */
            margin: auto; /* This will center the element if its width is less than the screen width */
        }
    }
    
.container {
        width: 70%; /* This will make the element take up the full width of its container */
    }
    
    /* This will apply when the screen width is 768px or more */
    @media screen and (min-width: 768px) {
        .content-section {
            max-width: 700px; /* Adjust this value to your preference */
            margin: auto; /* This will center the element if its width is less than the screen width */
        }
    }

    .navbar-divider {
        border-top: 1px solid white;
    }
    
    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }

.selectpicker .dropdown-menu li a:before {
    display: none;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #007bff;
    display: inline-block;
    margin-right: 5px;
}