{% extends 'base.html' %}

{% block content %}
<br>
<h1>Welcome to PolyglotPivot</h1>
<br>
<ul>
<li>Do you speek more than 2 languages?</li>
<li>Do you sometimes know words in one language but in another language not?</li>
<li>Do you want to keep track of your vocabulary and find knowledge gaps?</li>
</ul>
<br>
You can sign up for free and add your personal vocabulary and test your knowledge. 
If you answer the exercise right you can rise the category of your word until it is 
learned and forever in your head. Try it out. 

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    
{% endblock %}