<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Override Bootstrap style with customized CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

    <title>{% block title %} {% endblock %}</title>
    
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-secondary">
        <a class="navbar-brand text-white" href="{{ url_for('main.index')}}"><img src="{{ url_for('static', filename='polyglot_pivot_logo.svg') }}" width="80" height="80"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">   
              {% if current_user.is_anonymous %}
              {% else %}     
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('main.vocabulary')}}">Vocabulary</a>
              </li>
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('main.practice')}}">Practice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{url_for('main.add_vocable')}}">Add</a>
              </li> 
              {% endif %}
            </ul>

            <hr class="navbar-divider">
            <ul class="navbar-nav ml-auto">
              {% if current_user.is_anonymous %}
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('auth.login')}}">Login</a>
              </li>
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('auth.register')}}">Register</a>
              </li>
              {% else %}   
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('auth.edit_profile')}}">Edit Profile</a>
              </li>
              <li class="nav-item active"> 
                <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Logout</a>
              </li>
              {% endif %}
            </ul>
            
        </div>
    </nav>
    <div class="container bg-light rounded p-4 mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}

    <!-- Include BootstrapD JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
