{% extends "base.html" %}

{% block content %}
<h1>Edit Profile</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label(class="form-control-label")}}<br>
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid")}}
        {% else %}
            {{ form.username(class="form-control form-control-lg")}}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}

    </p>
    <p>
        {{ form.about_me.label(class="form-control-label")}}<br>
        {% if form.about_me.errors %}
            {{ form.about_me(class="form-control form-control-lg is-invalid")}}
        {% else %}
            {{ form.about_me(class="form-control form-control-lg", cols=50, rows=4)}}
            {% for error in form.about_me.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}

    </p>
    <p>
        {{ form.languages.label(class="form-control-label")}}<br>
        {{ form.languages(class="form-control form-control-lg") }}
    </p>
    <p>
        {{ form.submit(class="btn btn-outline-info") }}
    </p>   
</form>
{% endblock %}