{% extends 'base.html'%}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}!</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.post.label(class="form-control-label") }}<br>
                {{ form.post(class="form-control form-control-lg", cols=50, rows=4) }}</p>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>{{ form.submit(class="btn btn-outline-info") }}</p>
        </form>
        <hr>
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <th>Author</th>
                    <th>Post</th>
                </thead>
                <tbody>
                    {% for post in posts %}
                        {% include "_post.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        {% include "_pagination.html" %}
    {% else %}
        <h1> Welcome to Polyglotpivot </h1>
        <p> 
            Do you speak multiple languages or want to? Then you are in the right place.
            Polyglotpivot gives you the possibility to keep track of your vocabulary. 
            You can add your own vocabulary and practice them. 
        </p>
        <p>
            Polyglotpivot is also a place to exchange with other language students. You can 
            share your experiences, expressions or a funny story of your last vacation. Everything
            is allowed - just be respectfull.
        </p>
        <p>
            To start, just register an account and you can directly start. It is free, so there is no 
            reason to hesitate. Try it out now. <br>
        </p>
        <a href="{{url_for('register')}}"><span class="btn btn-outline-info">Register Here</span></a>
    {% endif %}
{% endblock %}