{% extends 'base.html'%}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}!</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.post.label(class="form-control-label") }}<br>
                {{ form.post(class="form-control form-control-lg", cols=50, rows=4) }}</p>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>{{ form.submit(class="btn btn-outline-info") }}</p>
        </form>
        <hr>
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <th>Author</th>
                    <th>Post</th>
                </thead>
                <tbody>
                    {% for post in posts %}
                        {% include "_post.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        {% include "_pagination.html" %}
    {% else %}
    <h1>Welcome to Polyglotpivot</h1>
    <p>
        Polyglotpivot is a free vocabulary trainer specifically designed to help 
        you track and fill gaps in your vocabulary, especially if you speak 
        multiple languages.
    </p>
    <p>
        As a private project, Polyglotpivot ensures all your data and vocabulary 
        entries are stored locally and will never be used or published. However, 
        it is always good practice to only share information you are comfortable 
        making public.
    </p>
    <p>
        To get started, simply register an account and dive right in. Your 
        feedback and ideas for improvement are always welcome. Feel free to post 
        in the home section of the website (visible once logged in) or send an 
        email to polyglotpivot@gmail.com.
    </p>
    
        <a href="{{url_for('register')}}"><span class="btn btn-outline-info">Register Here</span></a>
    {% endif %}
{% endblock %}
