{% extends 'base.html'%}
{% block content %}
    <h1>Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class="form-control-label") }}<br>
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid")}}<br>
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.username(class="form-control form-control-lg")}}<br>
            {% endif %}
        </p>
        <p>
            {{ form.password.label(class="form=control-label") }}<br>
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }} <br>
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control form-control-lg") }} <br>
            {% endif %}
        </p>
        <p>
            {{ form.remember_me.label(class="form=control-label")}}
            {{ form.remember_me(class="checkbox")}}
            <!-- TODO: add forgot password request -->
        </p>
        <p>
            {{ form.submit(class="btn btn-outline-info")}}
        </p>

    </form>
{% endblock %}